In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
DATASET_DIR = '/home/doeun/code/AI/ESTSOFT2024/workspace/dataset/'
dir_name = 'america_big_cities_health_inventory'
file_name = 'BigCitiesHealth.csv'

In [3]:
file_path = os.path.join(DATASET_DIR,dir_name,file_name)
df = pd.read_csv(file_path)

df.info()

/tmp/ipykernel_139564/664991473.py:2: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189979 entries, 0 to 189978
Data columns (total 31 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   metric_item_label                189979 non-null  object
 1   metric_cat_label                 189979 non-null  object
 2   metric_subcat_label              189979 non-null  object
 3   metric_item_label_subtitle       189979 non-null  object
 4   metric_cat_item_yaxis_label      189979 non-null  object
 5   metric_source_desc_label_fn      189979 non-null  object
 6   metric_source_desc_label_url_fn  189979 non-null  object
 7   geo_label_city                   189979 non-null  object
 8   geo_label_state                  188667 non-null  object
 9   geo_label_citystate              189979 non-null  object
 10  geo_fips_code                    188667 non-null  float64
 11  value                            189979 non-null  float64
 12  date_label                       189979 non-null  int64
 13  geo_label_proxy_or_real          189979 non-null  object
 14  geo_label_proxy_footnote         16804 non-null   object
 15  geo_fips_desc                    189979 non-null  object
 16  date_label_proxy_or_real         189979 non-null  object
 17  date_label_proxy_footnote        54759 non-null   object
 18  value_ci_flag_yesno              189979 non-null  object
 19  value_95_ci_low                  118670 non-null  float64
 20  value_95_ci_high                 118682 non-null  float64
 21  value_90_ci_low                  0 non-null       float64
 22  value_90_ci_high                 0 non-null       float64
 23  geo_strata_region                188667 non-null  object
 24  geo_strata_poverty               188667 non-null  object
 25  geo_strata_Population            188666 non-null  object
 26  geo_strata_PopDensity            188667 non-null  object
 27  geo_strata_Segregation           188667 non-null  object
 28  strata_race_label                189979 non-null  object
 29  strata_sex_label                 189979 non-null  object
 30  strata_race_sex_label            46662 non-null   object
dtypes: float64(6), int64(1), object(24)
memory usage: 44.9+ MB

In [4]:
df["metric_label"] = df["metric_subcat_label"]+' | '+df["metric_item_label"]

In [51]:
df["metric_label"].value_counts()

metric_label
Deaths | Premature Death                                  6825
Deaths | Injury Deaths                                    6405
Deaths | Deaths from All Causes                           6244
Cancer | All Cancer Deaths                                6233
Cardiovascular Disease | Cardiovascular Disease Deaths    6195
                                                          ...
Housing | Homeless, Total                                  266
Housing | Vacant Housing and Homelessness                  266
Housing | Homeless, Children                               256
Respiratory Infection | COVID-19 Vaccination, Adults        70
Respiratory Infection | COVID-19 Vaccination, Seniors       70
Name: count, Length: 118, dtype: int64

1. race/sex stratified 된 데이터 체크

In [5]:
list(filter(lambda x: 'strata' in x,df.columns))

['geo_strata_region',
 'geo_strata_poverty',
 'geo_strata_Population',
 'geo_strata_PopDensity',
 'geo_strata_Segregation',
 'strata_race_label',
 'strata_sex_label',
 'strata_race_sex_label']

In [6]:
col_list = ['geo_strata_region',
 'geo_strata_poverty',
 'geo_strata_Population',
 'geo_strata_PopDensity',
 'geo_strata_Segregation']
for col in col_list:
    display(df[col].value_counts())

geo_strata_region
West         66810
South        62748
Midwest      40546
Northeast    18563
Name: count, dtype: int64

geo_strata_poverty
Less poor cities (<18% poor)    141688
Poorest cities (18%+ poor)       46979
Name: count, dtype: int64

geo_strata_Population
Smaller (<1.3 million)    134116
Largest (>1.3 million)     54550
Name: count, dtype: int64

geo_strata_PopDensity
Lower pop. density (<10k per sq mi)      152508
Highest pop. density (>10k per sq mi)     36158
Smaller (<1.3 million)                        1
Name: count, dtype: int64

geo_strata_Segregation
Less Segregated (<50%)      104633
Highly Segregated (50%+)     84034
Name: count, dtype: int64

In [7]:
col_list = ['strata_race_label',
 'strata_sex_label',
 'strata_race_sex_label']
for col in col_list:
    display(df[col].value_counts())

strata_race_label
All                              66201
White                            33779
Black                            33286
Hispanic                         28961
Asian/PI                         14895
Asian                             6568
American Indian/Alaska Native     6289
Name: count, dtype: int64

strata_sex_label
Both      123865
Male       35128
Female     30986
Name: count, dtype: int64

strata_race_sex_label
White Male         7579
Black Male         7502
White Female       6814
Black Female       6398
Hispanic Male      6323
Hispanic Female    4886
Asian/PI Male      3892
Asian/PI Female    3268
Name: count, dtype: int64

In [8]:
np.sum(df['strata_sex_label'].isna())

0

In [9]:
cond1 = (df['strata_race_label'] == 'All') & (df['strata_sex_label'] == 'Both')
np.sum(cond1)

46749

In [10]:
cond0 =(df['strata_sex_label'] == 'Both')
display(df.loc[cond0,'strata_race_label'].value_counts())

strata_race_label
All                              46749
White                            19386
Black                            19386
Hispanic                         17752
Asian/PI                          7735
Asian                             6568
American Indian/Alaska Native     6289
Name: count, dtype: int64

In [11]:
cond0 =(df['strata_race_label'] == 'All')
display(df.loc[cond0,'strata_sex_label'].value_counts())

strata_sex_label
Both      46749
Male       9832
Female     9620
Name: count, dtype: int64

In [12]:
cond0 = (df['strata_race_sex_label'].isna())
display(df.loc[cond0,'strata_race_label'].value_counts())
display(df.loc[cond0,'strata_sex_label'].value_counts())

strata_race_label
All                              66201
White                            19386
Black                            19386
Hispanic                         17752
Asian/PI                          7735
Asian                             6568
American Indian/Alaska Native     6289
Name: count, dtype: int64

strata_sex_label
Both      123865
Male        9832
Female      9620
Name: count, dtype: int64

In [13]:
cond0 = (~df['strata_race_sex_label'].isna())
display(df.loc[cond0,['strata_race_sex_label','strata_race_label']].value_counts())
display(df.loc[cond0,['strata_race_sex_label','strata_sex_label']].value_counts())

strata_race_sex_label  strata_race_label
White Male             White                7579
Black Male             Black                7502
White Female           White                6814
Black Female           Black                6398
Hispanic Male          Hispanic             6323
Hispanic Female        Hispanic             4886
Asian/PI Male          Asian/PI             3892
Asian/PI Female        Asian/PI             3268
Name: count, dtype: int64

strata_race_sex_label  strata_sex_label
White Male             Male                7579
Black Male             Male                7502
White Female           Female              6814
Black Female           Female              6398
Hispanic Male          Male                6323
Hispanic Female        Female              4886
Asian/PI Male          Male                3892
Asian/PI Female        Female              3268
Name: count, dtype: int64

2. geo_strata 관련 column들 확인

In [14]:
df['geo_label_city'].unique()

array(['Cleveland', 'Oakland', 'San Francisco', 'Long Beach', 'Dallas',
       'Las Vegas', 'San Antonio', 'Columbus', 'Seattle', 'New York City',
       'Tucson', 'Phoenix', 'Fort Worth', 'Indianapolis', 'Oklahoma City',
       'San Diego', 'Houston', 'Boston', 'Philadelphia', 'Denver',
       'Charlotte', 'Portland', 'Kansas City', 'Los Angeles',
       'Washington', 'Detroit', 'Chicago', 'Milwaukee', 'San Jose',
       'Austin', 'Memphis', 'Louisville', 'Baltimore', 'Minneapolis',
       'El Paso', 'U.S. Total'], dtype=object)

In [15]:
col_list = ['geo_strata_region',
 'geo_strata_poverty',
 'geo_strata_Population',
 'geo_strata_PopDensity',
 'geo_strata_Segregation']
df[['geo_label_city']+col_list].value_counts()

geo_label_city  geo_strata_region  geo_strata_poverty            geo_strata_Population   geo_strata_PopDensity                  geo_strata_Segregation
New York City   Northeast          Less poor cities (<18% poor)  Largest (>1.3 million)  Highest pop. density (>10k per sq mi)  Highly Segregated (50%+)    6535
Houston         South              Poorest cities (18%+ poor)    Largest (>1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    6431
Los Angeles     West               Less poor cities (<18% poor)  Largest (>1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    6372
Philadelphia    Northeast          Poorest cities (18%+ poor)    Largest (>1.3 million)  Highest pop. density (>10k per sq mi)  Highly Segregated (50%+)    6310
San Diego       West               Less poor cities (<18% poor)  Largest (>1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      6251
Chicago         Midwest            Less poor cities (<18% poor)  Largest (>1.3 million)  Highest pop. density (>10k per sq mi)  Highly Segregated (50%+)    6210
San Francisco   West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Highest pop. density (>10k per sq mi)  Less Segregated (<50%)      6121
Las Vegas       West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5848
Boston          Northeast          Less poor cities (<18% poor)  Smaller (<1.3 million)  Highest pop. density (>10k per sq mi)  Highly Segregated (50%+)    5718
Oakland         West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5676
Dallas          South              Less poor cities (<18% poor)  Largest (>1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    5655
Fort Worth      South              Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5628
Seattle         West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5507
Phoenix         West               Less poor cities (<18% poor)  Largest (>1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    5437
Charlotte       South              Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5381
San Antonio     South              Less poor cities (<18% poor)  Largest (>1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5349
Washington      South              Less poor cities (<18% poor)  Smaller (<1.3 million)  Highest pop. density (>10k per sq mi)  Highly Segregated (50%+)    5264
Portland        West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5219
Long Beach      West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    5215
San Jose        West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5206
Austin          South              Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5198
Detroit         Midwest            Poorest cities (18%+ poor)    Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    5160
Denver          West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5157
Cleveland       Midwest            Poorest cities (18%+ poor)    Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    5113
Baltimore       South              Poorest cities (18%+ poor)    Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    5101
Oklahoma City   South              Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      5030
Indianapolis    Midwest            Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      4916
Columbus        Midwest            Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      4907
Milwaukee       Midwest            Poorest cities (18%+ poor)    Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    4881
Kansas City     Midwest            Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      4848
Tucson          West               Poorest cities (18%+ poor)    Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      4799
Memphis         South              Poorest cities (18%+ poor)    Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Highly Segregated (50%+)    4631
El Paso         South              Poorest cities (18%+ poor)    Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      4553
Louisville      South              Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      4527
Minneapolis     Midwest            Less poor cities (<18% poor)  Smaller (<1.3 million)  Lower pop. density (<10k per sq mi)    Less Segregated (<50%)      4511
Long Beach      West               Less poor cities (<18% poor)  Smaller (<1.3 million)  Smaller (<1.3 million)                 Highly Segregated (50%+)       1
Name: count, dtype: int64

In [16]:
len(df[['geo_label_city']+col_list].value_counts()), len(df['geo_label_city'].value_counts())

(36, 36)

3. value_ci 관련 col 확인

In [17]:
df['value_ci_flag_yesno'].value_counts()

value_ci_flag_yesno
yes    118682
no      71297
Name: count, dtype: int64

In [18]:
np.sum(df['value_ci_flag_yesno'].isna())

0

In [19]:
list(filter(lambda x: 'ci' in x,df.columns))

['geo_label_city',
 'geo_label_citystate',
 'value_ci_flag_yesno',
 'value_95_ci_low',
 'value_95_ci_high',
 'value_90_ci_low',
 'value_90_ci_high']

In [20]:
df[['value_ci_flag_yesno',
    'value_95_ci_low',
 'value_95_ci_high',
 'value_90_ci_low',
 'value_90_ci_high']]

,value_ci_flag_yesno,value_95_ci_low,value_95_ci_high,value_90_ci_low,value_90_ci_high
0,yes,195.006700,225.194591,NaN,NaN
1,yes,124.494012,211.553695,NaN,NaN
2,yes,92.047403,101.613187,NaN,NaN
3,yes,88.474786,122.786969,NaN,NaN
4,yes,275.648062,320.086062,NaN,NaN
...,...,...,...,...,...
189974,no,NaN,NaN,NaN,NaN
189975,no,NaN,NaN,NaN,NaN
189976,no,NaN,NaN,NaN,NaN
189977,no,NaN,NaN,NaN,NaN
189978,no,NaN,NaN,NaN,NaN

In [21]:
col_list = ['value_95_ci_low',
 'value_95_ci_high',
 'value_90_ci_low',
 'value_90_ci_high']

cond1 = df[col_list].isna().all(axis=1)
cond2 = df['value_ci_flag_yesno'] == 'no'

np.sum(cond1 != cond2), np.sum(cond1), np.sum(cond2)

(0, 71297, 71297)

In [22]:
len(df.loc[cond1,'metric_label'].unique())

117

In [23]:
len(df.loc[~cond1,'metric_label'].unique())

53

In [24]:
df.loc[~cond1,'metric_label'].value_counts()

metric_label
Deaths | Premature Death                                  6825
Deaths | Injury Deaths                                    6392
Deaths | Deaths from All Causes                           6231
Cancer | All Cancer Deaths                                6220
Cardiovascular Disease | Cardiovascular Disease Deaths    6182
Cardiovascular Disease | Heart Disease Deaths             6125
Diabetes and Obesity | Diabetes Deaths                    5476
Cancer | Lung Cancer Deaths                               5475
Substance Use | Drug Overdose Deaths                      5450
Mental Health | Suicide                                   5137
Deaths | Motor Vehicle Deaths                             5112
Cancer | Colorectal Cancer Deaths                         5044
Deaths | Gun Deaths (Firearms)                            4904
Respiratory Infection | Pneumonia or Influenza Deaths     4827
Substance Use | Opioid Overdose Deaths                    4814
Crime Incidents | Homicides                               4740
Sexually Transmitted Disease | HIV-Related Deaths         3368
Births | Low Birthweight                                  2275
Births | Teen Births                                      2235
Births | Prenatal Care                                    2185
Cancer | Breast Cancer Deaths                             1773
Cancer | Prostate Cancer Deaths                           1713
Deaths | Infant Deaths                                    1470
Respiratory Infection | COVID-19 Deaths                   1396
Births | Preterm Births                                   1225
Deaths | Maternal Deaths                                  1001
Substance Use | Adult Smoking                              455
Substance Use | Adult Binge Drinking                       455
Mental Health | Adult Mental Distress                      455
Diabetes and Obesity | Adult Obesity                       455
Diabetes and Obesity | Diabetes                            455
Oral Health | Dental Care                                  455
Physical Activity | Adult Physical Inactivity              455
Cardiovascular Disease | High Blood Pressure               455
Substance Use | Teen Marijuana                             432
Diabetes and Obesity | Teen Obesity                        429
Substance Use | Teen Alcohol                               426
Mental Health | School Bullying                            425
Mental Health | Teen Mental Distress                       424
Mental Health | Electronic Bullying                        424
Physical Activity | Teen Physical Activity                 423
Physical Activity | Teen Physical Inactivity               414
Substance Use | Teen Smoking                               411
Physical Activity | Teen TV Time                           410
School Violence | Weapons in School                        393
School Violence | Fighting in School                       392
Physical Activity | Teen Computer Time                     384
Respiratory Disease | Teen Asthma                          379
Dietary Quality | Teen Soda                                377
Mental Health | Teen Suicidal Ideation                     357
Dietary Quality | Teen Breakfast                           343
Physical Activity | Teen Physical Education                334
Birth Control | Teen Birth Control                         270
Name: count, dtype: int64

In [25]:
metric_w_ci = set(df.loc[~cond1,'metric_label'].unique())
metric_wo_ci = set(df.loc[cond1,'metric_label'].unique())

metric_w_ci.difference(metric_wo_ci)

{'Deaths | Premature Death'}

In [26]:
len(metric_wo_ci.difference(metric_w_ci)), len(metric_wo_ci)

(65, 117)

In [48]:
metirc_null_ci = sorted(list(metric_wo_ci.difference(metric_w_ci)))

for col in metirc_null_ci[:20]:
    cond = df['metric_label'] == col
    print(col.ljust(75),f"     : {np.sum(cond):>10}")

Active Transportation | Riding Bike to Work                                      :        468
Active Transportation | Walking to Work                                          :       2218
Air Pollution | Hazardous Air Quality                                            :        467
Air Pollution | Poor Air Quality                                                 :        467
Crime Incidents | Violent Crime                                                  :        454
Deaths | Police Killings                                                         :       1495
Deaths | Racial Disparity in Police Killings                                     :        455
Disability | People with Disabilities                                            :       2743
Education | College Graduates                                                    :       2743
Education | Preschool Enrollment                                                 :        468
Food Access | Limited Supermarket Access                                         :        432
Health Insurance | Uninsured, All Ages                                           :       2110
Health Insurance | Uninsured, Child                                              :       2110
Heat and Disasters | Climate-related  Disasters                                  :        468
Heat and Disasters | Community Social Vulnerability to Climate Disasters         :        468
Heat and Disasters | Longer Summers                                              :        455
Heat and Disasters | Number of Heat Waves                                        :        455
Housing | Homeless, Children                                                     :        256
Housing | Homeless, Total                                                        :        266
Housing | Owner Occupied Housing                                                 :       2743

In [49]:
for col in metirc_null_ci[20:40]:
    cond = df['metric_label'] == col
    print(col.ljust(75),f"     : {np.sum(cond):>10}")

Housing | Renters vs. Owners                                                     :       2743
Housing | Vacant Housing Units                                                   :        468
Housing | Vacant Housing and Homelessness                                        :        266
Income Inequality | Household Income Inequality                                  :        468
Income Inequality | Income Inequality                                            :        468
Income | Households with Higher-Incomes                                          :        468
Income | Per-capita Household Income                                             :       2743
Income | Poverty and Near Poverty in All Ages                                    :        468
Income | Poverty in All Ages                                                     :       2743
Income | Poverty in Children                                                     :       2743
Income-related | Excessive Housing Cost                                          :        360
Income-related | Public Assistance                                               :        468
Income-related | Service Workers                                                 :       2743
Income-related | Unemployment                                                    :       2743
Language and Nativity | Foreign Born Population                                  :        468
Language and Nativity | Primarily Speak Chinese                                  :        360
Language and Nativity | Primarily Speak English                                  :        360
Language and Nativity | Primarily Speak Spanish                                  :        360
Lead Poisoning | Child Lead Levels 10+ mcg/dL                                    :        289
Lead Poisoning | Child Lead Levels 5+ mcg/dL                                     :        366

In [50]:
for col in metirc_null_ci[40:]:
    cond = df['metric_label'] == col
    print(col.ljust(75),f"     : {np.sum(cond):>10}")

Lead Poisoning | Child Lead Testing                                              :        361
Lead Poisoning | Housing Lead Risk                                               :        468
Life Expectancy at Birth | Life Expectancy                                       :       5004
Population | Children                                                            :        468
Population | Population Density                                                  :        455
Population | Seniors                                                             :        468
Population | Single-Parent Families                                              :       2218
Race/Ethnicity | Minority Population                                             :        468
Racial Segregation Indices | Racial Segregation, White and Asian                 :        468
Racial Segregation Indices | Racial Segregation, White and Black                 :        468
Racial Segregation Indices | Racial Segregation, White and Hispanic              :        468
Racial Segregation Indices | Racial Segregation, White and Non-White             :        468
Respiratory Infection | COVID-19 Vaccination, Adults                             :         70
Respiratory Infection | COVID-19 Vaccination, Seniors                            :         70
Respiratory Infection | Flu Vaccinations, Medicare                               :       2008
Respiratory Infection | New Tuberculosis Cases                                   :        468
Sexually Transmitted Disease | HIV/AIDS Prevalence                               :       2909
Sexually Transmitted Disease | New Chlamydia Cases                               :        465
Sexually Transmitted Disease | New Gonorrhea Cases                               :        465
Sexually Transmitted Disease | Syphilis Prevalence                               :        465
Sexually Transmitted Disease | Syphilis, Newborns                                :        468
Transportation | Drives Alone to Work                                            :       2218
Transportation | Lack of Car                                                     :        468
Transportation | Longer Driving Commute Time                                     :        360
Transportation | Public Transportation Use                                       :       2218